/.idea/
/results/
/node_modules/
compendium_of_mocha_problems
/bower_components/
bugs
coverage
docs
jsdoc-out
mr-docs
exp*.js
suman-todos.txt
old-package-json.json
exp*js
test-target
benchmark-tests
.nyc_output
jsdoc-notes.txt

