### all files
*.sh
*.ts
*.md
*.txt
*.log
*.json
*.yml
*.DS_Store

### directories
.idea
node_modules
coverage/
.nyc_output
yarn.lock
test/
dist/

### files
exp.js
.gitignore
.github
.npmignore
webpack.config.js
.gitattributes
suman.conf.js
.editorconfig
.tscmultiwatch
.babelrc
.dockerignore

### negation
!lib/**/*.sh
!cli/*.sh
!scripts/*.sh
!*.d.ts
