
### matching files
*.sh
*.ts
*.md
*.txt
*.log
*.json
*.yml
*.DS_Store

### folders
.idea
node_modules
coverage
.nyc_output
test
dist
.github
.tscmultiwatch
dev-scripts
.vscode
.vs_code

### files
.gitignore
.npmignore
webpack.config.js
.gitattributes
suman.conf.js
.editorconfig
.babelrc
.dockerignore
yarn.lock

### negation
!lib/**/*.sh
!cli/*.sh
!scripts/*.json
!scripts/*.sh
!*.d.ts
