
.test-cases {
    border: 2px solid black;
    margin-left: 30px;
    background-color: #F8F8FF;
}

.describe {
    color:black;
}

.testResults{
    margin-right: 5px;
    color:black;
    border: 1px solid cornflowerblue;
    margin-bottom: 5px;
    font-weight:bold;
}

ul li{
    list-style-type: circle;
}

.table-text-center th, .table-text-center td {
    text-align: center;
}

@media (min-width: 1400px) {
    .container{
        max-width: 1270px;
    }
}

#suman_logo {

    float: right;
    width: 15vw;
    height: 15vh;
}

#page-header {
    float: left;
    margin-top: 2%
}

.descriptionName{
    margin-bottom: 5px;
    margin-top: 5px;
}

.descriptionName label{
    font-weight:bold;
}

.no-tests{
    margin-left: 25px;
}


.testResults .items{
    font-weight: lighter;
    color: green;
    font-size: 15px;
}


.testResults #cross{
    color:red;
}

.testResults #errors{
    color:red;
}