<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Suman Test Results</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.0.6/bluebird.js"></script>

    <script>

        window.SumanTestFiles = new Object(<%- data %>);


        /* var results = [];

         SumanTestFiles.forEach(function(file){
         results.push($.get('http://localhost:6969/'+file));
         });

         Promise.all(results).then(function(){



         }).catch(function(err){
         console.error(err);
         });*/

        Promise.map(SumanTestFiles, function (item) {
            var path = 'http://localhost:6969/' + item;
            console.log('path:',path);
            return $.get(path);
        }).then(function (msg) {
            console.log(msg);

        }).catch(function (err) {
            console.error(err);
        });

    </script>

</head>


<body>

<div id="react-app"></div>


<script>


    var ContactItem = React.createClass({
        propTypes: {
            name: React.PropTypes.string.isRequired
        },

        render: function () {
            return (
                    React.createElement('li', {className: 'Contact'},
                            React.createElement('h2', {className: 'Contact-name'}, this.props.name)
                    )
            )
        }
    });

    var element = React.createElement(ContactItem, {name: "James K Nelson"});

    ReactDOM.render(element, document.getElementById('react-app'));


</script>


</body>
</html>